.movie_box{
    display: flex;
    flex-direction: column;
    padding:20px 20px;
}
.movie_box:hover{
    background-color:rgba(57,68,73,0.2);
}
.movie_title{
    text-align: center;
}
.movie_list{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}